<!-- <div class="top-bg" [class.mat-accent-bg]="!theme" [style.background]="theme"></div> -->
<div class="bg">

    <div fxLayout="column" style="position: absolute;width: 100%;" fxLayoutAlign="space-between ">
        <div>
            <img style="width: 150px;
            height: 33px;
            margin-top: 58px;
            margin-left: 42px; " src="assets/LoginPage/Logo3.png">
        </div>
        <div style="display: flex;
        justify-content: center;
        align-items: center;margin-top: 375px;">
        <div style="width: 540px;height:291px;background-color: black;background: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;">
        <div style="margin: 45px 78px;">
            <div style="font-size:18px;font-weight:700;color:#FFFFFF">Login</div>
            <div>
                <form >
    
                    <input type="text" id="fname" name="firstname" placeholder="Username">
                
                    <input type="password" id="lname" name="lastname" placeholder="Password">
    
                    <input routerLink="/dashboard" type="submit" value="Verify" >
                </form>
                <!-- <a mat-button  routerLink="dashboard">About us</a> --> 
            </div>
            <a  style="font-weight: 300;font-size: 14px;color:#FFFFFF;display: flex;justify-content: center;">
                Forgot password? Reset</a>
        </div>
        </div>
    </div>
    <div style="margin-top: 250px;
    display: flex;
    justify-content: end;
    margin-right: 66px;">
        <div style="font-size:12px;font-weight:400;color:#FFFFFF">
            Photo by Pierre Blaché from Pexels
        </div>
    </div>
    </div>
    </div>
    
