
<div style="background-color:#EBEFF3;">
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="8px" style="margin-top: 8px;">
    <div fxFlex="17">

        <div fxLayout="column" class="sidNav">
            <div style="display: flex;justify-content: center;">
                <img style="width: 110px;height: 21px;margin-top: 28px; " src="assets/LoginPage/Logo3.png">
            </div>
            <div>
                <img style="width: 91%;height: 88%;margin-top: 11px;margin-left: 7px;" src="assets/dashboard/builImg.png">
            </div>
            <div fxLayout="row">
            <div fxLayout="column" style="font-weight: 400;font-size: 14px;color:#FFFF;margin-left: 11px;">
                <div>Arch</div>
                <div>200 George St, Sydney NSW 2000</div>
            </div>

            <div>
                <button  mat-icon-button style="color: #FFFF;">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
        </div>
    </div>
    <div fxFlex="27" fxLayout="column" fxLayoutGap="9px" style="margin-top: 8px;">
        <div fxLayout="row" fxFlex="7" fxFlex.sm="7" fxFlex.sm="7" fxLayoutGap="9px"
            style="background-color:#00274B;align-items: center; border-radius: 8px;justify-content: center;">
            <div class="topCom">
                <img class="topImg" src="assets/dashboard/TopList/Vector.png">
                Community
            </div>
            <div class="topCom">
                <img class="topImg" src="assets/dashboard/TopList/Vector (1).png">
                Broadcast
            </div>
            <div class="topCom">
                <img class="topImg" src="assets/dashboard/TopList/Vector (2).png">
                Shift Log
            </div>
            <div class="topLob">
                <img class="topImg" src="assets/dashboard/TopList/Vector (3).png">
                Lobby Screen
            </div>
        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px"
            style="align-items: center; border-radius: 8px;justify-content: center;">
            <ejs-calendar></ejs-calendar>
        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px" class="carRow1" >

            <div fxLayout="row" style="align-items: center;justify-content: space-between;">


                <div style="font-weight: 400;font-size: 15px;">Management Report Generated</div>
                <div>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/pdfPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Report Period 01/04/2021
                            - 30/04/2021
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">
                            Created 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>


            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
            padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/pdfPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Report Period 01/04/2021
                            - 30/04/2021
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">
                            Created 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
                    padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/wordPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Report Period 01/04/2021
                            - 30/04/2021
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">
                            Created 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
                            padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/wordPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Report Period 01/04/2021
                            - 30/04/2021
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">
                            Created 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>
        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px" class="carRow1">
            <div fxLayout="row" fxLayoutGap="12px" style="align-items: center;justify-content: space-between;">
                <div style="font-weight: 400;font-size: 15px;">Note</div>

                <div fxLayout="row" style="align-items: center;">
                    <!-- <form>
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form> -->

                    <button type="button" style="height: 30px;border-right: none;border: 1px solid #ccc;border-radius: 4px 0px 0px 4px;background-color: white;
                  color: #1C65A8;">
                        <mat-icon>search</mat-icon>
                    </button>
                    <input type="text" name="search">




                </div>

                <div>
                    <button style="color: #1C65A8;" mat-icon-button
                        aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>



            </div>


            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">
                <div fxLayout="column" fxLayoutGap="6px" style="font-weight: 500;font-size: 11px">
                    <div>Naisoso Island Manangement - 28/04/21</div>
                    <div style="color: cadetblue;">Reset fire alarm Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nibh nunc praesent feugiat risus, parturient.</div>
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">
                <div fxLayout="column" fxLayoutGap="6px" style="font-weight: 500;font-size: 11px">
                    <div>Naisoso Island Manangement - 28/04/21</div>
                    <div style="color: cadetblue;">Reset fire alarm Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nibh nunc praesent feugiat risus, parturient.</div>
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">
                <div fxLayout="column" fxLayoutGap="6px" style="font-weight: 500;font-size: 11px">
                    <div>Naisoso Island Manangement - 28/04/21</div>
                    <div style="color: cadetblue;">Reset fire alarm Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nibh nunc praesent feugiat risus, parturient.</div>
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>
        </div>
    </div>


    <!-- 2nd row  -->


    <div fxFlex="27" fxLayout="column" fxLayoutGap="9px" style="margin-top: 8px;">
        <div fxLayout="row" fxFlex="7" fxFlex.sm="7" fxFlex.sm="7" fxLayoutGap="9px"
            style="background-color:#FFFFFF;align-items: center; border-radius: 8px;justify-content: center;">
            <div fxLayout="row" style="align-items: center;width: 100%;">
                <!-- <form>
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form> -->

                <button type="button" style="height:60px;border-right: none;border: 1px solid #ccc;border-radius: 4px 0px 0px 4px;background-color: white;
                  color: #1C65A8;">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text1" placeholder="Search" name="search">




            </div>
        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px"
            style="background-color:#00274B;align-items: center; border-radius: 8px;justify-content: center;">
            <!-- <div><ngx-charts-pie-chart  [results]="data" [view]="view"
                [scheme]="colorScheme" [gradient]="gradient" [legend]="showLegend" [labels]="showLabels"
                [doughnut]="isDoughnut">

              </ngx-charts-pie-chart>
            </div> -->
        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px" class="carRow1" >

            <div fxLayout="row" style="align-items: center;justify-content: space-between;">


                <div style="font-weight: 400;font-size: 15px;">Building Summary</div>
                <div>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/BuilSum/Group.png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Residents
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    33
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/BuilSum/Group (1).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Residents
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    999
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/BuilSum/badge 2.png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Residents
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    67
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/BuilSum/Group (2).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Residents
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    257
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/BuilSum/Group (3).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Residents
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    123
                </div>
            </div>

        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px" class="carRow1" >
            <div fxLayout="row" fxLayoutGap="12px" style="align-items: center;justify-content: space-between;">
                <div style="font-weight: 400;font-size: 15px;">Number</div>

                <div fxLayout="row" style="align-items: center;">
                    <!-- <form>
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form> -->

                    <button type="button" style="height: 30px;border-right: none;border: 1px solid #ccc;border-radius: 4px 0px 0px 4px;background-color: white;
                  color: #1C65A8;">
                        <mat-icon>search</mat-icon>
                    </button>
                    <input type="text" name="search">




                </div>

                <div>
                    <button style="color: #1C65A8;" mat-icon-button
                        aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>



            </div>


            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">
                <!-- <div fxLayout="column" fxLayoutGap="6px" style="font-weight: 500;font-size: 11px">
           <div>Naisoso Island Manangement - 28/04/21</div> 
           <div style="color: cadetblue;">Reset fire alarm Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh nunc praesent feugiat risus, parturient.</div> 
        </div> -->

                <div>
                    Name
                </div>

                <div>
                    Phone Number
                </div>
                <div>
                    <!-- <input type="checkbox" checked="checked"> -->
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">

                <div style="font-weight: 300;font-size: 12px">
                    Fire
                </div>

                <div style="font-weight: 300;font-size: 12px;">
                    000
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">

                <div style="font-weight: 300;font-size: 12px;">
                    Fire
                </div>

                <div style="font-weight: 300;font-size: 12px;">
                    000
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">

                <div style="font-weight: 300;font-size: 12px;">
                    Fire
                </div>

                <div style="font-weight: 300;font-size: 12px;">
                    000
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">

                <div style="font-weight: 300;font-size: 12px;">
                    Fire
                </div>

                <div style="font-weight: 300;font-size: 12px;">
                    000
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">

                <div style="font-weight: 300;font-size: 12px;">
                    Fire
                </div>

                <div style="font-weight: 300;font-size: 12px;">
                    000
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="12px"
                style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;padding-bottom: 8px;">

                <div style="font-weight: 300;font-size: 12px;">
                    Fire
                </div>

                <div style="font-weight: 300;font-size: 12px;">
                    000
                </div>
                <div>
                    <input type="checkbox" checked="checked">
                    <!-- <span class="checkmark"></span> -->
                </div>
            </div>








        </div>
    </div>
    <!-- <div fxFlex="27">
        Hello 1
      </div> -->

    <!-- 3rd Row -->


    <div fxFlex="27" fxLayout="column" fxLayoutGap="9px" style="margin-top: 8px;">
        <div fxLayout="row" fxFlex="7" fxFlex.sm="7" fxFlex.sm="7" fxLayoutGap="9px"
            style="background-color:#FFFF;border: 1px solid #DFE3E9;align-items: center; border-radius: 8px;">
            <div>
                <button style="color: #1C65A8;" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>add</mat-icon>
                </button>

            </div>

            <div style="font-weight: 500;font-size: 13px;color: #7B8A98;">
                Action
            </div>

            <div>
                <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                    src="assets/dashboard/Group.png">
            </div>

            <div>
                <img style="width: 22px;height: 20px;margin-top: 1px;margin-left: 1px;"
                    src="assets/dashboard/Notification.png">
            </div>

            <div>
                <img style="width: 32px;height: 30px;margin-top: 1px;margin-left: 1px;border-radius: 85px;"
                    src="assets/dashboard/profile 1.png">
            </div>

            <div style="font-weight: 500;font-size: 13px;color: #7B8A98;">
                Naisoso Island Management
            </div>

            <div>
                <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button> -->

                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item><img class="matMan" src="assets/dashboard/MatMan/Group.png"> Profile</button>
                    <button mat-menu-item><img class="matMan" src="assets/dashboard/MatMan/Group (1).png"> Change Password</button>
                    <button mat-menu-item><img class="matMan" src="assets/dashboard/MatMan/Group (2).png"> Edit Dashboard Widgets</button>
                    <button mat-menu-item><img class="matMan" src="assets/dashboard/MatMan/Group (4).png"> Theme</button>
                    <button mat-menu-item><img class="matMan" src="assets/dashboard/MatMan/Group (5).png"> Logout</button>


                </mat-menu>
            </div>

        </div>

        <!-- <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px" style="background-color:#00274B;align-items: center; border-radius: 8px;justify-content: center;">
        
        </div> -->

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px" class="carRow1" >

            <div fxLayout="row" style="align-items: center;justify-content: space-between;">


                <div style="font-weight: 400;font-size: 15px;">Items Requiring Action</div>
                <div>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/ItemAct/Group.png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Overdue Cases
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    33
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/ItemAct/Group (1).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Contractor Document /
                        Insurance Expired
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    999
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/ItemAct/Group (2).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Resident Information Update
                        Requests
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    67
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/ItemAct/Group (3).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Overdue Maintenance Schedule
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    257
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/ItemAct/Group (4).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Pending Bookings
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    123
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/ItemAct/Group (5).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Residents Requests
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    123
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/ItemAct/Group (6).png">
                    </div>

                    <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Unread Messages
                    </div>

                </div>
                <div style="background-color: rgba(79, 173, 234, 0.25);width: 44px;height: 21px;display: flex;justify-content: center;
            align-items: center;border-radius: 4px;">
                    123
                </div>
            </div>

        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="9px" class="carRow1" >

            <div fxLayout="row" style="align-items: center;justify-content: space-between;">


                <div style="font-weight: 400;font-size: 15px;">Latest Work Order Sent</div>
                <div>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
        padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/pdfPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Rooftop Repairs - WO#
                            2056-A
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">ABC
                            Roofing - Sent 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>


            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
            padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/pdfPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Rooftop Repairs - WO#
                            2056-A
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">ABC
                            Roofing - Sent 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
                    padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/pdfPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Rooftop Repairs - WO#
                            2056-A
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">ABC
                            Roofing - Sent 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>

            <div fxLayout="row" style="align-items: center;justify-content: space-between;border-bottom: 1px solid #F0F3F7;
                            padding-bottom: 9px;">
                <div fxLayout="row" style="align-items: center;">
                    <div>
                        <img style="width: 17px;height: 16px;margin-top: 1px;margin-left: 1px;"
                            src="assets/dashboard/TopList/pdfPic.png">
                    </div>
                    <div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px">Rooftop Repairs - WO#
                            2056-A
                        </div>
                        <div style="font-weight: 500;font-size: 12px;padding: 0px 0px 0px 15px;color: #1212122e;">ABC
                            Roofing - Sent 01/01/2022
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button color="accent" style="background-color: #D3EAF9;">View</button>
                </div>
            </div>
        </div>

        <div fxLayout="column" fxFlex="31" fxFlex.sm="31" fxFlex.sm="31" fxLayoutGap="12px" class="carRow1" >
            <div fxLayout="row" fxLayoutGap="12px" style="align-items: center;justify-content: space-between;">
                <div style="font-weight: 400;font-size: 15px;">Activity</div>

                <div fxLayout="row" style="align-items: center;">
                    <!-- <form>
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form> -->

                    <button type="button" style="height: 30px;border-right: none;border: 1px solid #ccc;border-radius: 4px 0px 0px 4px;background-color: white;
                  color: #1C65A8;">
                        <mat-icon>search</mat-icon>
                    </button>
                    <input type="text" name="search">




                </div>
                <div>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>



            </div>


            <div fxLayout.gt-lg="column" fxLayoutGap="8px">
                <div fxLayout="column" fxLayoutGap="12px" style="border-bottom: 1px solid #ccc;padding-bottom: 12px;">
                    <div style="font-weight: 500;font-size: 14px;color:#4FADEA;">01/01/2022</div>
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <div style="font-weight: 500;font-size: 14px;">10:05am -</div>
                            <div style="font-weight: 300;font-size: 14px;">Update case 3239 status - Sam Khalef</div>
                        </div>
                        <div fxLayout="row">
                            <div style="font-weight: 500;font-size: 14px;">10:05am -</div>
                            <div style="font-weight: 300;font-size: 14px;">Update case 3239 status - Sam Khalef</div>
                        </div>
                        <div fxLayout="row">
                            <div style="font-weight: 500;font-size: 14px;">10:05am -</div>
                            <div style="font-weight: 300;font-size: 14px;">Update case 3239 status - Sam Khalef</div>
                        </div>
                    </div>
                </div>


                <div fxLayout="column" fxLayoutGap="12px" style="padding-top: 12px;">
                    <div style="font-weight: 500;font-size: 14px;color:#4FADEA;">01/01/2022</div>
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <div style="font-weight: 500;font-size: 14px;">10:05am -</div>
                            <div style="font-weight: 300;font-size: 14px;">Update case 3239 status - Sam Khalef</div>
                        </div>
                        <div fxLayout="row">
                            <div style="font-weight: 500;font-size: 14px;">10:05am -</div>
                            <div style="font-weight: 300;font-size: 14px;">Update case 3239 status - Sam Khalef</div>
                        </div>
                        <div fxLayout="row">
                            <div style="font-weight: 500;font-size: 14px;">10:05am -</div>
                            <div style="font-weight: 300;font-size: 14px;">Update case 3239 status - Sam Khalef</div>
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </div>
    <!-- <div fxFlex="27">
        Hello 1 
      </div> -->

</div>

<div style="margin-top: 14px;">
    <div style="display: flex;justify-content: end;">
        <button mat-button color="Warn" style="background-color: whitesmoke;">
            <img style="width: 17px;height: 16px;margin-right: 12px;"
                            src="assets/dashboard/pic1.png">Report Bug
        </button>
    </div>
</div>

</div>